---
import Header from "../components/Header.astro";
import Splash from "../components/Splash.astro";
import Footer from "../components/Footer.astro";
import Kategori from "../components/Kategori.astro";
import "../styles/global.css";
import Medlembtn from "../components/Medlembtn.astro";
import Holdcard from "../components/Holdcard.astro";
import Ugefilter from "../components/Ugefilter.astro";
import Ugedage from "../components/Ugedage.astro";
import Farvekode from "../components/Farvekode.astro";

const { skjultehold, filterObjects } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>FormFysik</title>
  </head>
  <body class="body-bg">
    <Header />

    <!-- Information -->
    <section class="content">
      <h2>Holdbooking</h2>
      <h3>Det skal du vide</h3>
      <div class="info">
        <p class="bread">
          Kom i god tid - og gerne 10
          minutter før holdstart
        </p>
        <p class="bread">
          5 min. før holdstart bliver de
          ikke-fremødte på holdet taget
          af, og de som står på
          ventelisten får en plads i
          stedet.
        </p>
        <p class="bread">
          Husk at afmelde senest 2 timer
          før holdstart, hvis du er
          forhindret i at møde op
          Manglende fremmøde koster
          30kr.
        </p>
      </div>
    </section>

    <!---------------- Filtrering -------->
    <section class="bookingcalender">
      <!-- Knapper -->
      <div class="holdknap_wrapper">
        <!-- alle -->
        <button
          onclick="filterObjects('alle')"
          class="holdkategori filtertext"
        >
          <div class=""></div>
          <a href="">Alle</a>
        </button>

        <!-- Styrke og kondition knap -->
        <button
          onclick="filterObjects('styrkhold')"
          class="holdkategori filtertext"
        >
          <div class="styrkefarve">
          </div>
          <a href=""
            >Styrke & Kondition</a
          >
        </button>

        <!-- Power knap -->
        <button
          onclick="filterObjects('powerhold')"
          class="holdkategori filtertext"
        >
          <div class="powerfarve"></div>
          <a href="">Power</a>
        </button>

        <!-- Body and mind knap -->
        <button
          onclick="filterObjects('bodymindhold')"
          class="holdkategori filtertext"
        >
          <div class="bodymindfarve">
          </div>
          <a href="">Body & Mind</a>
        </button>

        <!-- Spinninghold knap -->
        <button
          onclick="filterObjects('spinninghold')"
          class="holdkategori filtertext"
        >
          <div class="spinningfarve">
          </div>
          <a href="">Spinning</a>
        </button>

        <!-- Dansehold knap -->
        <button
          onclick="filterObjects('dansehold')"
          class="holdkategori filtertext"
        >
          <div class="danseholdfarve">
          </div>
          <a href="">Dansehold</a>
        </button>

        <!-- seniorhold knap -->
        <button
          onclick="filterObjects('seniorhold')"
          class="holdkategori filtertext"
        >
          <div class="seniorholdfarve">
            <a href="">Seniorhold</a>
          </div>
        </button>

        <!-- specialhold knap -->

        <button
          onclick="filterObjects('specialhold')"
          class="holdkategori filtertext"
        >
          <div class="specialholdfarve">
          </div>
          <a href="">Specialhold</a>
        </button>
      </div>

      <!-- Tabel -->

      <div class="tabel_wrapper">
        <!-- Head -->

        <div class="tabelhead">
          <div class="uge">
            <Ugefilter ugenr="46" />
          </div>

          <div class="lokationfilter">
            <button
              class="lokation bread-bold"
            >
              Vesterbro</button
            >
            <button
              class="lokation bread-bold"
            >
              Amagerbro</button
            >
            <button
              class="lokation bread-bold"
            >
              Østerbro</button
            >
          </div>

          <!-- Tabel ugedage -->
        </div>

        <!-- holdkort -->

        <div class="holdbookingwrapper">
          <!-- MANDAG -->

          <div class="bookingkort">
            <Ugedage
              ugedag="Mandag"
              ugedato="12/12"
            />
            <div
              class="bodymindhold kort"
            >
              <Holdcard
                holdtitel="yoga"
                holdfarve=""
                power={false}
                seniorhold={false}
                dansehold={false}
                spinning={false}
                styrkekondition={false}
                bodymind={true}
                specialhold={false}
                instruktor="v/ Mona Lindegaard"
                time="07:00-08:30"
                ledig={true}
                liste={false}
                fyldt={false}
              />

              <div
                class="powerhold kort"
              >
                <Holdcard
                  holdtitel="Crossfit"
                  holdfarve=""
                  power={true}
                  seniorhold={false}
                  dansehold={false}
                  spinning={false}
                  styrkekondition={false}
                  bodymind={false}
                  specialhold={false}
                  instruktor="v/ Mona Lindegaard"
                  time="07:00-08:30"
                  ledig={false}
                  liste={false}
                  fyldt={true}
                />
              </div>
              <div
                class="styrkehold kort"
              >
                <Holdcard
                  holdtitel="Styrke puls"
                  holdfarve=""
                  power={false}
                  seniorhold={false}
                  dansehold={false}
                  spinning={false}
                  styrkekondition={true}
                  bodymind={false}
                  specialhold={false}
                  instruktor="v/ Sander Dalh"
                  time="07:00-08:30"
                  ledig={false}
                  liste={true}
                  fyldt={false}
                />
              </div>
              <div
                class="bodymindhold kort"
              >
                <Holdcard
                  holdtitel="yoga"
                  holdfarve=""
                  power={false}
                  seniorhold={false}
                  dansehold={true}
                  spinning={false}
                  styrkekondition={false}
                  bodymind={false}
                  specialhold={false}
                  instruktor="v/ Mona Lindegaard"
                  time="07:00-08:30"
                  ledig={false}
                  liste={true}
                  fyldt={false}
                />
              </div>
            </div>
          </div>

          <!-- TIRDAGS -->
          <div class="bookingkort">
            <Ugedage
              ugedag="Tirsdag"
              ugedato="12/12"
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
          </div>

          <!-- ONSDAG -->
          <div class="bookingkort">
            <Ugedage
              ugedag="Onsdag"
              ugedato="12/12"
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
          </div>

          <!-- TORSDAG -->
          <div class="bookingkort">
            <Ugedage
              ugedag="Torsdag"
              ugedato="12/12"
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
          </div>

          <!-- FREDAG -->
          <div class="bookingkort">
            <Ugedage
              ugedag="Fredag"
              ugedato="12/12"
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
          </div>

          <!-- LØRDAG -->
          <div class="bookingkort">
            <Ugedage
              ugedag="Lørdag"
              ugedato="12/12"
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
          </div>

          <!-- SØNDAG -->
          <div class="bookingkort">
            <Ugedage
              ugedag="Søndag"
              ugedato="12/12"
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
            <Holdcard
              holdtitel="yoga"
              holdfarve=""
              power={false}
              seniorhold={false}
              dansehold={true}
              spinning={false}
              styrkekondition={false}
              bodymind={false}
              specialhold={false}
              instruktor="v/ Mona Lindegaard"
              time="07:00-08:30"
              ledig={false}
              liste={true}
              fyldt={false}
            />
          </div>
        </div>
        <!-- FARVEKODER -->
        <div class="farvekode">
          <Farvekode
            beskrivelse="Plads på holdet"
            ledig={true}
            liste={false}
            fyldt={false}
          />
          <Farvekode
            beskrivelse="Plads på holdet"
            ledig={false}
            liste={true}
            fyldt={false}
          />
          <Farvekode
            beskrivelse="Plads på holdet"
            ledig={false}
            liste={false}
            fyldt={true}
          />
        </div>
      </div>
    </section>
    <!-- DOWNLOAD CONTENT -->
    <section class="download_content">
      <h3>
        Download Vores App “My Eclub”
        til din telefon eller tablet
      </h3>
      <p class="bread">
        Her får du mulighed for at
        til-/afmelde dig dit hold samt
        se dine fremtidige bookinger.
      </p>
      <ul>
        <li class="bread">
          Første gang du logger ind,
          skal du vælge dit foretrukne
          træningscenter og så du klar
          til at tilmelde dig et hold!
        </li>
      </ul>
      <p class="bread">
        Hent til <a href="">IOS</a>
        <br /> Hent til <a href=""
          >Android</a
        >
      </p>
    </section>
    <Footer />
  </body>
</html>

<style>
  h2 {
    color: var(--color-bread-text);
    margin-bottom: 2rem;
  }
  h3 {
    color: var(--color-bread-text);
    margin-bottom: 1rem;
  }
  p {
    color: var(--color-bread-text);
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  /* -------------------------------- TABEL --------------------------------- */

  .bookingcalender {
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 75rem;
    margin-bottom: 2rem;
  }

  /* Head ---- Uge + lokation */
  .tabelhead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tabel_wrapper {
    background-color: var(
      --color-tabel-bg
    );
    border-radius: 1rem;
    margin-top: 2rem;
  }
  .uge {
    grid-column-start: 2;
    display: flex;
    place-content: center;
  }
  /* LOKATION FILTER OG KNAPPER */
  .lokationfilter {
    place-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    grid-column-start: 3;
    padding-right: 1rem;
  }

  .lokation {
    background-color: var(
      --color-tabel-background
    );
    border: none;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    color: var(--color-tabel-text);
    border-radius: 50px;
    height: fit-content;
  }

  /* HOLD FILTER KNAPPER  */
  button {
    background-color: var(
      --color-footer-background
    );

    border: none;
    padding: 0.7rem;
    color: var(--color-bread-text);
    display: flex;
    gap: 0.7rem;
    align-items: center;
    border-radius: 10px;
  }

  .holdknap_wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  /* Ugedage + ugedato */

  .ugedage {
    display: flex;
    place-content: center;
    justify-content: space-between;

    background-color: var(
      --color-tabel-bg
    );
  }

  /* Holdbooking kort */

  .holdbookingwrapper {
    display: flex;
    place-content: center;
    justify-content: space-evenly;

    background-color: var(
      --color-tabel-holdcard
    );
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .bookingkort {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  /*----------------------- HOLDFARVER PÅ KNAPKATEGORIER -----------------*/

  .powerfarve {
    background-color: var(
      --color-holdfarve-power
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .styrkefarve {
    background-color: var(
      --color-holdfarve-styrkekondition
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .bodymindfarve {
    background-color: var(
      --color-holdfarve-bodymind
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .spinningfarve {
    background-color: var(
      --color-holdfarve-spinninghold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .danseholdfarve {
    background-color: var(
      --color-holdfarve-dansehold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .seniorholdfarve {
    background-color: var(
      --color-holdfarve-seniorhold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }

  .specialholdfarve {
    background-color: var(
      --color-holdfarve-specialhold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }

  /* ------------------------- Farvekode----------------- */

  .farvekode {
    background-color: var(
      --color-tabel-holdcard
    );
    top: 0;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    gap: 2rem;
    place-content: flex-end;
    padding: 1rem;
  }

  /* ------------------------ download sektion----------------------- */

  .download_content {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 5rem;
  }

  .download_content li {
    color: var(--color-bread-text);
  }

  .download_content a {
    text-decoration: underline;
  }
  .content {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
</style>

<script>
  function filterObjects(c) {
    var x, i;
    x =
      document.getElementsByClassName(
        "kort"
      );
    if (c == "alle") c = "";
    for (i = 0; i < x.lenght; i++) {
      removeClass(x[i], "show");
      if (
        x[i].className.indexOf(c) > -1
      )
        addClass(x[i], "show");
    }
  }

  function addClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = element.name.split(" ");
    for (i = 0; i < arr2.lenght; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className +=
          " " + arr2[i];
      }
    }
  }

  function removeClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = element.name.split(" ");
    for (i = 0; i < arr2.lenght; i++) {
      while (
        arr1.indexOf(arr2[i]) > -1
      ) {
        arr1.splice(
          arr1.indexOf(arr2[i]),
          1
        );
      }
    }
    element.className = arr1.join(" ");
  }
</script>
