---
import "../styles/global.css";

const {
  titel,
  mantor,
  fredag,
  lordag,
  sondag,
} = Astro.props;
---

<div>
  <h3>{titel}</h3>
  <p>{mantor}</p>
  <p>{fredag}</p>
  <p>{lordag}</p>
  <p>{sondag}</p>
</div>

<style></style>
